.DS_Store
*.app/
*Debug.app/
bin/data/*.xml
bin/*
obj
!bin/data

# Visual Studio

obj
*.aps
*.user
*.opensdf
*.sdf
*.cachefile
*.sln.docstates
*.vspscc
*.scc
*.vssscc
*.pdb
*.suo

# https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
